app/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICO</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-expand">
          <div class="container"><a class="navbar-brand mr-0 mr-md-2" href="/"><img class="img-fluid" src="assets/img/logo.png"></a>
            <ul class="menu nav menu-scroll">
                            <li class="nav-item"><a class="nav-link" href="#about">О проекте</a></li>
                            <li class="nav-item"><a class="nav-link" href="#token-sale">Token sale</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline">Дорожная карта</a></li>
                            <li class="nav-item"><a class="nav-link" href="#team">Команда</a></li>
                            <li class="nav-item"><a class="nav-link" href="#faq">F.A.Q.</a></li>
            </ul><a class="btn btn-primary" href="#">Инвестировать</a>
            <div class="pushy pushy-left">
              <ul class="pl-0 menu-scroll">
                              <li class="nav-item"><a class="nav-link" href="#about">О проекте</a></li>
                              <li class="nav-item"><a class="nav-link" href="#token-sale">Token sale</a></li>
                              <li class="nav-item"><a class="nav-link" href="#timeline">Дорожная карта</a></li>
                              <li class="nav-item"><a class="nav-link" href="#team">Команда</a></li>
                              <li class="nav-item"><a class="nav-link" href="#faq">F.A.Q.</a></li>
              </ul>
            </div>
            <div class="site-overlay"></div>
            <button class="menu-btn ml-4 btn btn-primary"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></button>
          </div>
        </nav>
        <div class="main">
          <div class="container">
            <div class="row">
              <div class="col-md-3 order-md-1 mb-4">
                <div class="wrap text-center">
                  <h6>9/11 Token Sale week</h6>
                  <h6>Day 5</h6>
                  <div class="time"><strong>16 : 47 : 31</strong></div>
                  <div class="price-bonuse">
                    <div class="row border-top">
                      <div class="col-md-6"><span class="title">Цена токена:</span><strong class="val">$0.0094</strong></div>
                      <div class="col-md-6 border-left"><span class="title">Бонус:</span><strong class="val">4%</strong></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn btn-primary">Купить AMC</div>
                    </div>
                  </div>
                </div>
                <div class="wrap"><strong>$ 24 544 117</strong><small>Привлечено средств на данный момент</small></div>
              </div>
              <div class="col-md-6 order-md-2">
                <h1>Онлайн крипто-гипермаркет</h1>
                <h5>Новые возможности в криптоиндустрии</h5>
                <ul>
                  <li>Привычные операции в прогрессивном формате.</li>
                  <li>Бесплатное размещение товаров.</li>
                  <li>Бонусы и Cashback при оплате токенами AMC </li>
                  <li>Доступ к международным рынкам</li>
                </ul>
                <h5>Причины купить AMG:</h5>
                <ul>
                  <li>Создание глобального проекта в криптоиндустрии</li>
                  <li>Растущий спрос на продукт</li>
                  <li>Ограниченная эмиссия</li>
                  <li>Выгодные инвестиции</li>
                </ul>
                <div class="text-center wrap-btns mb-4"><a class="btn btn-primary">Whitepaper</a><a class="btn btn-primary">Демо продукт</a></div>
              </div>
              <div class="col-md-3 text-center order-md-3"><img class="img-fluid" src="assets/img/small-copy.jpg" alt=""></div>
              <div class="col-12 order-md-4">
                <div class="soc-icons text-center"><a class="icon-twitter" href="https://twitter.com/alphamarket_amc"></a><a class="icon-facebook" href="https://www.facebook.com/alphamarket.online"></a><a class="icon-reddit" href="https://www.reddit.com/user/alphamarket_amc"></a><a class="icon-github-circled-alt2" href="https://github.com/alphamarket-online"></a><a class="icon-medium" href="https://medium.com/@alphamarket.online"></a><a class="icon-telegram" href="https://t.me/alphamarket_ru"></a></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="s-advantages" id="about">
        <div class="logo-title text-center"><img src="assets/img/advantage-title.png" alt=""></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h4>Преимущества для <strong>продавцов</strong></h4>
              <ul class="seller">
                <li>Доступ к международным рынкам</li>
                <li>Бесплатное размещение продукции</li>
                <li>Мотивирующая система рейтингов</li>
                <li>Подробная аналитика продаж</li>
                <li>Рекламная поддержка бизнеса</li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12">
              <h4>Преимущества для <strong>покупателей</strong></h4>
              <ul class="buyer">
                <li>Рекламная поддержка бизнеса</li>
                <li>Кешбек при оплате токенами AMC</li>
                <li>Прозрачная система отзывов</li>
                <li>Поддержка в формате 24/7</li>
                <li>Минимум комиссий и времени на совершение операции</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="s-video"><a class="btn" href="#"></a></section>
      <section class="s-perspective">
        <h2>перспективы Alfa-market</h2>
        <div class="container">
          <div class="row">
            <div class="col-2 item"><strong>$500 Billion</strong>
              <h3>2018</h3><span>Демо-версия продукта <span>Выход на ICO</span></span>
              <div class="price">$20 Million</div>
            </div>
            <div class="col-2 item"><strong>$1 Trln</strong>
              <h3>2019</h3><span>Бета-версия продукта.<span>1 500 000 пользователей</span></span>
              <div class="price">$100 Million</div>
            </div>
            <div class="col-2 item"><strong>$3 Trln</strong>
              <h3>2020</h3><span>Выход финальной версии. <span>3 500 000 пользователей</span></span>
              <div class="price">$700 Million</div>
            </div>
            <div class="col-2 item"><strong>$7 Trln</strong>
              <h3>2022</h3><span>Лидирующая торговая площадка в сфере криптовалют <span>15 000 000 пользователей</span></span>
              <div class="price">$21 Billion</div>
            </div>
            <div class="col-2 item"><strong>$20 Trln</strong>
              <h3>2024</h3><span>Крупнейшая e-commerce торговая площадка мирового уровня<span>50 000 000 пользователей</span></span>
              <div class="price">$320 Billion</div>
            </div>
            <div class="col-2 item"><strong>Cryptocurrency<span>Market</span><span>Capitalizations</span></strong>
              <div class="price">Капитализация<span>компании</span></div>
            </div>
          </div>
        </div>
      </section>
      <section class="s-token-sale" id="token-sale">
        <h2>детали token sale</h2>
        <div class="container">
          <div class="row items">
            <div class="col-md-4">
              <h3>Ticket Token</h3><span>AMC </span>
              <p>Токен выпущен на платформе Ethereum (ERC20)</p>
            </div>
            <div class="col-md-4">
              <h3>Token Sale (Daico)</h3><span>7.02 - 1.01.2018 (15:00 UTC)</span>
              <p>Минимальный платеж <br> 0.01 ETH</p>
            </div>
            <div class="col-md-4">
              <h3>Hard cap</h3><span>48 000 ETH</span>
              <p>При достижении этого объема, продажа токенов останавливается</p>
            </div>
            <div class="col-md-4">
              <h3>Price</h3><span>1 AMС = 0.00004 ETH</span>
              <p>Мы принимаем ETH</p>
            </div>
            <div class="col-md-4">
              <h3>Bonuses</h3><span>До 20%</span>
              <p>Бонус за ранние инвестиции</p>
            </div>
            <div class="col-md-4">
              <h3>Total token supply</h3><span>999 999 999</span>
              <p>Эмиссия ограничена смарт-контрактом</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
              <h3>Распределение токенов</h3><img class="img-fluid" src="assets/img/diagram-1.png" alt="">
            </div>
            <div class="col-md-6 text-center">
              <h3>Использование средств</h3><img class="img-fluid" src="assets/img/diagram-2.png" alt="">
            </div>
            <div class="col-md-12">
              <p>Токены из Резервного фонда предназначены для поддержания работы обменника в случае высоких нагрузок и для выплат по непредвиденным расходам.</p>
              <div class="wrap-button text-center"><a class="btn btn-primary" href="#">Инвестировать</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="s-timeline" id="timeline">
        <div class="timeline">
          <div class="t-container right start">
            <div class="content">
              <h3>4 кв 2016</h3>
              <h4>Подготовка к созданию продукта</h4>
              <ul>
                <li>Анализ рынка </li>
                <li>Разработка концепции работы торговой площадки</li>
                <li>Разработка прототипа сайта торговой площадки</li>
                <li>Дизайн-проект торговой площадки			</li>
                <li>Начало работы над Whitepaper </li>
              </ul>
            </div>
          </div>
          <div class="t-container left">
            <div class="content">
              <h3>3 кв 2017</h3>
              <h4>Создание демо-версии продукта	</h4>
              <ul>
                <li>Разработка первой версии магазина </li>
                <li>Общий каталог товаров</li>
                <li>Регистрация аккаунта продавца</li>
                <li>Создание карточек товара </li>
                <li>Регистрация аккаунта покупателя</li>
                <li>Разработка функционала покупки товаров</li>
                <li>Базовый торговый функционал.</li>
                <li>Тестирование демо-версии</li>
              </ul>
            </div>
          </div>
          <div class="t-container right">
            <div class="content">
              <h3>4 кв 2017</h3>
              <h4>Подготовка к Token sale</h4>
              <ul>
                <li>Привлечение стартового капитала на подготовку к ICO</li>
                <li>Создание smart-контракта для ICO</li>
                <li>Завершение работы над Whitepaper</li>
                <li>Создание сайта для ICO</li>
              </ul>
            </div>
          </div>
          <div class="t-container left">
            <div class="content">
              <h3>1 кв 2018</h3>
              <h4>Проведение Token sale</h4>
              <ul>
                <li>Активная маркетинговая компания по Token sale </li>
                <li>Презентация проекта инвесторам </li>
                <li>Завершение Token sale</li>
                <li>Листинг токена	на биржах</li>
              </ul>
            </div>
          </div>
          <div class="t-container right">
            <div class="content">
              <h3>2 кв 2018</h3>
              <h4>Внедрение смарт-контрактов и оплаты криптовалютой</h4>
              <ul>
                <li>Прием платежей в криптовалюте </li>
                <li>Внутренний обмен валют и мультивалютный кошелек </li>
              </ul>
            </div>
          </div>
          <div class="t-container left">
            <div class="content">
              <h3>3 кв 2018</h3>
              <h4>Функционал для покупателей и продавцов:</h4>
              <ul>
                <li>Поиск: Фильтрация, сортировка, сравнение.</li>
                <li>Карточка товара</li>
                <li>Заказ и оплата</li>
                <li>Отзывы</li>
                <li>Корзина</li>
                <li>Личный кабинет покупателя/продавца</li>
                <li>Система Cashback</li>
                <li>Функционал по продвижению товара</li>
              </ul>
            </div>
          </div>
          <div class="t-container right">
            <div class="content">
              <h3>4 кв 2018</h3>
              <h4>Общий функционал:</h4>
              <ul>
                <li>Система внутреннего общения между покупателем и продавцом</li>
                <li>Платежный функционал.</li>
                <li>Модуль службы поддержки</li>
                <li>Решение спорных ситуаций</li>
                <li>Модуль безопасности</li>
                <li>Система рейтингов</li>
              </ul>
            </div>
          </div>
          <div class="t-container left">
            <div class="content">
              <h3>1 кв 2019</h3>
              <h4>Выпуск Бета-версии продукта</h4>
              <ul>
                <li>Адаптация под мобильные устройства</li>
                <li>Разработка мобильного приложения</li>
                <li>Хранение базы данных зарегистрированных пользователей</li>
              </ul>
            </div>
          </div>
          <div class="t-container right">
            <div class="content">
              <h3>2 кв 2019</h3>
              <h4>Эффективное продвижение и Интеграция</h4>
              <ul>
                <li>Инструменты эффективного продвижения </li>
                <li>Локализация на дополнительные языки </li>
                <li>Выход на рынки других стран</li>
              </ul>
            </div>
          </div>
          <div class="t-container last">
            <div class="content"></div>
          </div>
        </div>
        <div class="last-content">
          <h3>1 кв 2020</h3>
          <h4>Выход финальной версии продукта</h4>
        </div>
      </section>
      <section class="s-team" id="team">
        <h2>Команда</h2>
        <div class="container">
          <div class="row">
                        <div class="col-md-4">
                          <div class="item">
                            <div class="wrap-image"><img class="img-fluid rounded-circle" src="assets/img/team-1.jpg" alt=""><a class="icon icon-f" href="#"></a></div>
                            <h3>Фамилия Имя</h3><span>должность</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, laboriosam.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="item">
                            <div class="wrap-image"><img class="img-fluid rounded-circle" src="assets/img/team-2.jpg" alt=""><a class="icon icon-f" href="#"></a></div>
                            <h3>Фамилия Имя</h3><span>должность</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, laboriosam.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="item">
                            <div class="wrap-image"><img class="img-fluid rounded-circle" src="assets/img/team-3.jpg" alt=""><a class="icon icon-f" href="#"></a></div>
                            <h3>Фамилия Имя</h3><span>должность</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, laboriosam.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="item">
                            <div class="wrap-image"><img class="img-fluid rounded-circle" src="assets/img/team-1.jpg" alt=""><a class="icon icon-f" href="#"></a></div>
                            <h3>Фамилия Имя</h3><span>должность</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, laboriosam.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="item">
                            <div class="wrap-image"><img class="img-fluid rounded-circle" src="assets/img/team-2.jpg" alt=""><a class="icon icon-f" href="#"></a></div>
                            <h3>Фамилия Имя</h3><span>должность</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, laboriosam.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="item">
                            <div class="wrap-image"><img class="img-fluid rounded-circle" src="assets/img/team-3.jpg" alt=""><a class="icon icon-f" href="#"></a></div>
                            <h3>Фамилия Имя</h3><span>должность</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, laboriosam.</p>
                          </div>
                        </div>
          </div>
        </div>
      </section>
      <section class="s-faq" id="faq">
        <h2>FAQ</h2>
        <div class="container">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Как купить токены AMC?</button>
                </h5>
              </div>
              <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <p>Сначала нужно зарегистрироваться в личном кабинете. Там вы найдёте инструкцию с подробным описанием.</p>
                </div>
              </div>
            </div>
                        <div class="card">
                          <div class="card-header" id="heading2">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Где можно подробнее узнать о продукте?</button>
                            </h5>
                          </div>
                          <div class="collapse show" id="collapse2" aria-labelledby="heading2" data-parent="#accordion">
                            <div class="card-body">
                              <p>Вы можете изучить Whitepaper проекта, также посмотреть демо-версию платформы.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="heading3">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">Как я получу свои токены?</button>
                            </h5>
                          </div>
                          <div class="collapse show" id="collapse3" aria-labelledby="heading3" data-parent="#accordion">
                            <div class="card-body">
                              <p>После того, как вы отправите ETH на адрес нашего смарт-контракта, токены AMC придут на ваш кошелёк в течение от нескольких минут (зависит от нагрузки сети, возможны задержки до нескольких часов).</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="heading4">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">Что такое AlphaMarket?</button>
                            </h5>
                          </div>
                          <div class="collapse show" id="collapse4" aria-labelledby="heading4" data-parent="#accordion">
                            <div class="card-body">
                              <p>AlphaMarket это торговая площадка, позволяющая оплачивать товары криптовалютой.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="heading5">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">Оплачивать на площадке можно только токенами AMC?</button>
                            </h5>
                          </div>
                          <div class="collapse show" id="collapse5" aria-labelledby="heading5" data-parent="#accordion">
                            <div class="card-body">
                              <p>Нет, кроме AMC, средствами оплаты будут основные криптовалюты: BTC, ETH, LTC и другие.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="heading6">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">Зачем тогда нужны токены AMC?</button>
                            </h5>
                          </div>
                          <div class="collapse show" id="collapse6" aria-labelledby="heading6" data-parent="#accordion">
                            <div class="card-body">
                              <p>Покупая товары за AMC, Покупатель имеет возможность получать cashback с покупки, в дальнейшем покупатель может купить новый товар за накопившиеся токены. Для продавца с помощью AMC будут доступны реклама и дополнительные опции для продвижения товаров на сайте.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="heading7">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">Как будут проходить платежные транзакции?</button>
                            </h5>
                          </div>
                          <div class="collapse show" id="collapse7" aria-labelledby="heading7" data-parent="#accordion">
                            <div class="card-body">
                              <p>Финансовые взаимодействия между покупателем и продавцом будут проходить через транзитный кошелёк в системе Blockchain.</p>
                            </div>
                          </div>
                        </div>
          </div>
        </div>
      </section>
      <footer>
        <section class="s-publications">
          <h2>Публикации</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
            </div>
          </div>
        </section>
        <section class="s-partners">
          <h2>Наши партнеры</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item"><img src="assets/img/crypto.png" alt=""></div>
              </div>
            </div>
          </div>
        </section>
        <section class="s-footer">
          <div class="container">
            <div class="wrap d-flex align-items-center flex-wrap"><a class="pt-4 logo" href="#"><img src="assets/img/logo.png" alt=""></a>
              <ul class="footer-menu pt-4">
                <li><a href="#">Политика конфиденциальности</a></li>
                <li><a href="#">Условия пользования</a></li>
                <li><a href="#">Написать нам</a></li>
              </ul>
              <ul class="social pt-4">
                <li><a class="icon-twitter" href="https://twitter.com/alphamarket_amc"></a></li>
                <li><a class="icon-facebook" href="https://www.facebook.com/alphamarket.online"></a></li>
                <li><a class="icon-reddit" href="https://www.reddit.com/user/alphamarket_amc"></a></li>
                <li><a class="icon-github-circled-alt2" href="https://github.com/alphamarket-online"></a></li>
                <li><a class="icon-medium" href="https://medium.com/@alphamarket.online"></a></li>
                <li><a class="icon-telegram" href="https://t.me/alphamarket_ru"></a></li>
              </ul>
            </div>
            <p class="text-center">© Copyright 2018</p>
          </div>
        </section>
      </footer>
    </div>
  </body>
  <div id="up"><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.5"> <polyline fill="none" stroke="#fff" stroke-width="1.03" points="4 13 10 7 16 13"></polyline></svg>
    <script src="/assets/js/main.min.js"></script>
  </div>
</html>

src/pug/index.pug
doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title ICO
		meta(name='description', content='')
		link(rel='stylesheet', href='/assets/css/main.css')
		//- Slick
		//- link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
		//- Gridlex
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css")
	body
		.wrapper
			header
				nav.navbar.navbar-expand
					.container
						//- a.logo(href="/")
						//- 	img(src="assets/img/logo.png")
						a.navbar-brand.mr-0.mr-md-2(href="/")
							img.img-fluid(src="assets/img/logo.png")
						//- button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation")
						//- 	span.navbar-toggler-icon
						//- .collapse.navbar-collapse#navbarMenu
						//- ul.menu.nav.navbar-nav#navbar
						
						ul.menu.nav.menu-scroll
							mixin menu(name, link)
								li.nav-item
									a.nav-link(href="#"+link)= name
							+menu("О проекте", "about")
							+menu("Token sale", "token-sale")
							+menu("Дорожная карта", "timeline")
							+menu("Команда", "team")
							+menu("F.A.Q.", "faq")
						a.btn.btn-primary(href="#") Инвестировать
						.pushy.pushy-left
							ul.pl-0.menu-scroll
								+menu("О проекте", "about")
								+menu("Token sale", "token-sale")
								+menu("Дорожная карта", "timeline")
								+menu("Команда", "team")
								+menu("F.A.Q.", "faq")
						
						.site-overlay
						button.menu-btn.ml-4.btn.btn-primary
							span.bar-top
							span.bar-mid
							span.bar-bot
							//- span.navbar-toggler-icon ☰ МЕНЮ
				.main
					.container
						.row
							.col-md-3.order-md-1.mb-4
								.wrap.text-center
									h6 9/11 Token Sale week
									h6 Day 5
									.time
										strong 16 : 47 : 31
									.price-bonuse
										.row.border-top
											.col-md-6
												span.title Цена токена:
												strong.val $0.0094
											.col-md-6.border-left
												span.title Бонус:
												strong.val 4%
									.row
										.col-md-12
											.btn.btn-primary Купить AMC
								.wrap
									strong $ 24 544 117
									small Привлечено средств на данный момент
									//- img(src="assets/img/info-placeholder.jpg", alt="")

							.col-md-6.order-md-2
								h1 Онлайн крипто-гипермаркет
								h5 Новые возможности в криптоиндустрии
								ul
									li Привычные операции в прогрессивном формате.
									li Бесплатное размещение товаров.
									li Бонусы и Cashback при оплате токенами AMC 
									li Доступ к международным рынкам
								h5 Причины купить AMG:
								ul
									li Создание глобального проекта в криптоиндустрии
									li Растущий спрос на продукт
									li Ограниченная эмиссия
									li Выгодные инвестиции
								.text-center.wrap-btns.mb-4
									a.btn.btn-primary Whitepaper
									a.btn.btn-primary Демо продукт
							.col-md-3.text-center.order-md-3
								img.img-fluid(src="assets/img/small-copy.jpg", alt="")
							.col-12.order-md-4
								.soc-icons.text-center
									a.icon-twitter(href="https://twitter.com/alphamarket_amc")
									a.icon-facebook(href="https://www.facebook.com/alphamarket.online")
									a.icon-reddit(href="https://www.reddit.com/user/alphamarket_amc")
									a.icon-github-circled-alt2(href="https://github.com/alphamarket-online")
									a.icon-medium(href="https://medium.com/@alphamarket.online")
									a.icon-telegram(href="https://t.me/alphamarket_ru")
			
			section.s-advantages#about
				.logo-title.text-center
					img(src="assets/img/advantage-title.png", alt="")
				.container
					.row
						.col-md-6.col-sm-12
							h4 Преимущества для 
								strong продавцов
							ul.seller
								li Доступ к международным рынкам
								li Бесплатное размещение продукции
								li Мотивирующая система рейтингов
								li Подробная аналитика продаж
								li Рекламная поддержка бизнеса
							
						.col-md-6.col-sm-12
							h4 Преимущества для 
								strong покупателей
							ul.buyer
								li Рекламная поддержка бизнеса
								li Кешбек при оплате токенами AMC
								li Прозрачная система отзывов
								li Поддержка в формате 24/7
								li Минимум комиссий и времени на совершение операции

			section.s-video
				a.btn(href="#")

			section.s-perspective
				h2 перспективы Alfa-market
				.container
					.row
						.col-2.item
							strong $500 Billion
							h3 2018
							span Демо-версия продукта 
								span Выход на ICO
							.price $20 Million
						.col-2.item
							strong $1 Trln
							h3 2019
							span Бета-версия продукта.
								span 1 500 000 пользователей
							.price $100 Million
						.col-2.item
							strong $3 Trln
							h3 2020
							span Выход финальной версии. 
								span 3 500 000 пользователей
							.price $700 Million
						.col-2.item
							strong $7 Trln
							h3 2022
							span Лидирующая торговая площадка в сфере криптовалют 
								span 15 000 000 пользователей
							.price $21 Billion
						.col-2.item
							strong $20 Trln
							h3 2024
							span Крупнейшая e-commerce торговая площадка мирового уровня
								span 50 000 000 пользователей
							.price $320 Billion
						.col-2.item
							strong Cryptocurrency
								span Market
								span Capitalizations
							.price Капитализация
								span компании
			
			section.s-token-sale#token-sale
				h2 детали token sale
				.container
					.row.items
						.col-md-4
							h3 Ticket Token
							span AMC 
							p Токен выпущен на платформе Ethereum (ERC20)
						.col-md-4
							h3 Token Sale (Daico)
							span 7.02 - 1.01.2018 (15:00 UTC)
							p Минимальный платеж <br> 0.01 ETH
						.col-md-4
							h3 Hard cap
							span 48 000 ETH
							p При достижении этого объема, продажа токенов останавливается
						.col-md-4
							h3 Price
							span 1 AMС = 0.00004 ETH
							p Мы принимаем ETH
						.col-md-4
							h3 Bonuses
							span До 20%
							p Бонус за ранние инвестиции
						.col-md-4
							h3 Total token supply
							span 999 999 999
							p Эмиссия ограничена смарт-контрактом
					.row
						.col-md-6.text-center
							h3 Распределение токенов
							img.img-fluid(src="assets/img/diagram-1.png", alt="")
						.col-md-6.text-center
							h3 Использование средств
							img.img-fluid(src="assets/img/diagram-2.png", alt="")
						.col-md-12
							//- p * Токены для Компании будут заморожены смарт-контректом с вестинг периодом 4 года, ежегодными выплатами в размере 25% и клиффом 12 месяцев. 
							//- 	| ** Токены из Резервного фонда будут заморожены минимум на 6 месяцев. Резервный фонд предназначен для выплаты....
							p Токены из Резервного фонда предназначены для поддержания работы обменника в случае высоких нагрузок и для выплат по непредвиденным расходам.
							.wrap-button.text-center
								a.btn.btn-primary(href="#") Инвестировать
			
			section.s-timeline#timeline
				.timeline
					.t-container.right.start
						.content
							h3 4 кв 2016
							h4 Подготовка к созданию продукта
							ul
								li Анализ рынка 
								li Разработка концепции работы торговой площадки
								li Разработка прототипа сайта торговой площадки
								li Дизайн-проект торговой площадки			
								li Начало работы над Whitepaper 
					.t-container.left
						.content
							h3 3 кв 2017
							h4 Создание демо-версии продукта	
							ul
								li Разработка первой версии магазина 
								li Общий каталог товаров
								li Регистрация аккаунта продавца
								li Создание карточек товара 
								li Регистрация аккаунта покупателя
								li Разработка функционала покупки товаров
								li Базовый торговый функционал.
								li Тестирование демо-версии
					.t-container.right
						.content
							h3 4 кв 2017
							h4 Подготовка к Token sale
							ul
								li Привлечение стартового капитала на подготовку к ICO
								li Создание smart-контракта для ICO
								li Завершение работы над Whitepaper
								li Создание сайта для ICO
					.t-container.left
						.content
							h3 1 кв 2018
							h4 Проведение Token sale
							ul
								li Активная маркетинговая компания по Token sale 
								li Презентация проекта инвесторам 
								li Завершение Token sale
								li Листинг токена	на биржах
					.t-container.right
						.content
							h3 2 кв 2018
							h4 Внедрение смарт-контрактов и оплаты криптовалютой
							ul
								li Прием платежей в криптовалюте 
								li Внутренний обмен валют и мультивалютный кошелек 
					.t-container.left
						.content
							h3 3 кв 2018
							h4 Функционал для покупателей и продавцов:
							ul
								li Поиск: Фильтрация, сортировка, сравнение.
								li Карточка товара
								li Заказ и оплата
								li Отзывы
								li Корзина
								li Личный кабинет покупателя/продавца
								li Система Cashback
								li Функционал по продвижению товара
					.t-container.right
						.content
							h3 4 кв 2018
							h4 Общий функционал:
							ul
								li Система внутреннего общения между покупателем и продавцом
								li Платежный функционал.
								li Модуль службы поддержки
								li Решение спорных ситуаций
								li Модуль безопасности
								li Система рейтингов
					.t-container.left
						.content
							h3 1 кв 2019
							h4 Выпуск Бета-версии продукта
							ul
								li Адаптация под мобильные устройства
								li Разработка мобильного приложения
								li Хранение базы данных зарегистрированных пользователей
					.t-container.right
						.content
							h3 2 кв 2019
							h4 Эффективное продвижение и Интеграция
							ul
								li Инструменты эффективного продвижения 
								li Локализация на дополнительные языки 
								li Выход на рынки других стран
					.t-container.last
						.content
				.last-content
					h3 1 кв 2020
					h4 Выход финальной версии продукта
			
			section.s-team#team
				h2 Команда
				.container
					.row
						mixin team-member
							each val in [1, 2, 3]
								.col-md-4
									.item
										.wrap-image
											img.img-fluid.rounded-circle(src="assets/img/team-" + val + ".jpg", alt="")
											a.icon.icon-f(href="#")
										h3 Фамилия Имя
										span должность
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, laboriosam.
						+team-member
						+team-member
			
			section.s-faq#faq
				h2 FAQ
				.container
					#accordion
						.card
							.card-header#headingOne
								h5.mb-0
									button.btn.btn-link(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
										| Как купить токены AMC?

							#collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordion")
								.card-body
									p Сначала нужно зарегистрироваться в личном кабинете. Там вы найдёте инструкцию с подробным описанием.
						
						mixin accordion(cardHeaderID, dataTarget, question, answer)
							.card
								.card-header(id=cardHeaderID)
									h5.mb-0
										button.btn.btn-link(data-toggle="collapse" data-target="#"+dataTarget aria-expanded="true" aria-controls=dataTarget)= question

								.collapse.show(id=dataTarget aria-labelledby=cardHeaderID data-parent="#accordion")
									.card-body
										p= answer

						+accordion("heading2", "collapse2", "Где можно подробнее узнать о продукте?", "Вы можете изучить Whitepaper проекта, также посмотреть демо-версию платформы.")
						+accordion("heading3", "collapse3", "Как я получу свои токены?", "После того, как вы отправите ETH на адрес нашего смарт-контракта, токены AMC придут на ваш кошелёк в течение от нескольких минут (зависит от нагрузки сети, возможны задержки до нескольких часов).")
						+accordion("heading4", "collapse4", "Что такое AlphaMarket?", "AlphaMarket это торговая площадка, позволяющая оплачивать товары криптовалютой.")
						+accordion("heading5", "collapse5", "Оплачивать на площадке можно только токенами AMC?", "Нет, кроме AMC, средствами оплаты будут основные криптовалюты: BTC, ETH, LTC и другие.")
						+accordion("heading6", "collapse6", "Зачем тогда нужны токены AMC?", "Покупая товары за AMC, Покупатель имеет возможность получать cashback с покупки, в дальнейшем покупатель может купить новый товар за накопившиеся токены. Для продавца с помощью AMC будут доступны реклама и дополнительные опции для продвижения товаров на сайте.")
						+accordion("heading7", "collapse7", "Как будут проходить платежные транзакции?", "Финансовые взаимодействия между покупателем и продавцом будут проходить через транзитный кошелёк в системе Blockchain.")

			
			footer
				section.s-publications
					h2 Публикации
					.container
						.row
							- for(var i = 0; i < 8; i++)
								.col-md-3.col-sm-6
									.item
										img(src="assets/img/crypto.png", alt="")
				
				section.s-partners
					h2 Наши партнеры
					.container
						.row
							- for(var i = 0; i < 8; i++)
								.col-md-3.col-sm-6
									.item
										img(src="assets/img/crypto.png", alt="")

				section.s-footer
					.container
						.wrap.d-flex.align-items-center.flex-wrap
							a.pt-4.logo(href="#")
								img(src="assets/img/logo.png", alt="")
							ul.footer-menu.pt-4
								li
									a(href="#") Политика конфиденциальности
								li
									a(href="#") Условия пользования
								li
									a(href="#") Написать нам
							ul.social.pt-4
								li
									a.icon-twitter(href="https://twitter.com/alphamarket_amc")
								li
									a.icon-facebook(href="https://www.facebook.com/alphamarket.online")
								li
									a.icon-reddit(href="https://www.reddit.com/user/alphamarket_amc")
								li
									a.icon-github-circled-alt2(href="https://github.com/alphamarket-online")
								li
									a.icon-medium(href="https://medium.com/@alphamarket.online")
								li
									a.icon-telegram(href="https://t.me/alphamarket_ru")
						p.text-center © Copyright 2018

	#up
		<svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.5"> <polyline fill="none" stroke="#fff" stroke-width="1.03" points="4 13 10 7 16 13"></polyline></svg>






		//- a(href="/demo.html") Пример
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		//- script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
		script(src="/assets/js/main.min.js")
