app/layout-lk.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICO </title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/style-lk.css">
  </head>
  <body>
    <div class="wrapper">
      <aside>
        <nav>
          <div class="container">
            <div class="logo text-left"><a href="/"><img class="img-fluid" src="assets/img/logo.png"></a></div>
            <div class="menu"><a href="#/lk-main.html">Главная</a><a href="##">Инструкция</a><a href="##">Настройка профиля</a><a href="##">История платежей</a><a href="#faq">F.A.Q.</a><a href="##">Whitepaper</a><a href="##">Выйти</a>
            </div>
          </div>
        </nav>
      </aside>
      <main>
        <header>
          <div class="header d-flex justify-content-between">
            <div class="menu-btn btn btn-secondary"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
            <div class="wallet d-flex align-items-center">
              <div class="icon icon-wallet"></div><strong>0.00<span>AMC</span></strong>
            </div>
            <div class="lang"><span class="langbtn"><a class="ru" href="#">ru</a></span><span class="lang-list"><a class="en" href="#">en</a><a class="ru" href="#">ru</a><a class="de" href="#">de</a><a class="es" href="#">es</a><a class="jp" href="#">jp</a></span></div>
            <div class="person"><span>pdf222g@mail.ru</span></div>
          </div>
        </header>
        <div class="content">
        </div>
        <footer class="text-center">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div class="footer-contact"><a href="#">Возникли вопросы? Свяжитесь с нами AMC</a></div>
          <div class="footer-copyright">
            <p>&copy; 2018 <a href="/">AMC</a>  Все права защищены</p>
          </div>
        </footer>
      </main>
    </div>
    <div class="pushy pushy-left">
      <div class="logo text-left"><a href="/"><img class="img-fluid" src="assets/img/logo.png"></a></div>
      <ul class="pl-0"><a href="#/lk-main.html">Главная</a><a href="##">Инструкция</a><a href="##">Настройка профиля</a><a href="##">История платежей</a><a href="#faq">F.A.Q.</a><a href="##">Whitepaper</a><a href="##">Выйти</a>
      </ul>
    </div>
    <div class="site-overlay"></div>
  </body>
  <div id="up"><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.5"> <polyline fill="none" stroke="#fff" stroke-width="1.03" points="4 13 10 7 16 13"></polyline></svg>
    <script src="/assets/js/main.min.js"></script>
  </div>
</html>

src/pug/layout-lk.pug
-var languages = ["en","ru","de","es","jp"]
doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title ICO 
		meta(name='description', content='')
		link(rel='stylesheet', href='/assets/css/style-lk.css')

	body
		.wrapper
			aside
				nav
					.container
						.logo.text-left
							a(href="/")
								img.img-fluid(src="assets/img/logo.png")

						.menu
							mixin menu(name, link)
								a(href="#"+link)= name
							+menu("Главная", "/lk-main.html")
							+menu("Инструкция", "#")
							+menu("Настройка профиля", "#")
							+menu("История платежей", "#")
							+menu("F.A.Q.", "faq")
							+menu("Whitepaper", "#")
							+menu("Выйти", "#")
			main
				header
					.header.d-flex.justify-content-between
						.menu-btn.btn.btn-secondary
							span.bar-top
							span.bar-mid
							span.bar-bot
						.wallet.d-flex.align-items-center
							.icon.icon-wallet
							strong 0.00
								span AMC
						.lang
							span.langbtn
								a(href="#" class="ru") ru
							span.lang-list
								each lang in languages
									a(href="#" class=lang)= lang
						.person
							span pdf222g@mail.ru

				.content
					block content

				footer.text-center
					.footer-menu
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Blog
							li
								a(href="#") Terms
							li
								a(href="#") Privacy Policy
							li
								a(href="#") FAQ
					.footer-contact
						a(href="#") Возникли вопросы? Свяжитесь с нами AMC
					.footer-copyright
						p &copy; 2018 <a href="/">AMC</a>  Все права защищены


		
		.pushy.pushy-left
			.logo.text-left
				a(href="/")
					img.img-fluid(src="assets/img/logo.png")
			ul.pl-0
				+menu("Главная", "/lk-main.html")
				+menu("Инструкция", "#")
				+menu("Настройка профиля", "#")
				+menu("История платежей", "#")
				+menu("F.A.Q.", "faq")
				+menu("Whitepaper", "#")
				+menu("Выйти", "#")
		.site-overlay

	#up
		<svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.5"> <polyline fill="none" stroke="#fff" stroke-width="1.03" points="4 13 10 7 16 13"></polyline></svg>






		//- script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="/assets/js/main.min.js")
