src/pug/registration.pug
doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title ICO
		meta(name='description', content='')
		link(rel='stylesheet', href='/assets/css/style-lk.css')
	body.login(style="background-image:url(/assets/img/auth-bg.jpg)")
		.wrapper.flex-direction-column
			.logo.text-center
				a(href="/")
					img.img-fluid(src="assets/img/logo.png")
			.wrapper-form
				-var languages = ["en","ru","de","es","jp"]
				.lang
					each lang in languages
						a(href="#" class=lang)= lang
				h3.text-center Регистрация
				form.form-register
					mixin input-mixin(type, name)
						.form-group.wrap-input
							input.form-control(type= type, placeholder= name)
					+input-mixin("text", "Имя")
					+input-mixin("text", "Фамилия")
					+input-mixin("email", "Электронная почта")
					+input-mixin("password", "Пароль")
					+input-mixin("password", "Повторите пароль")
					.form-group
						.form-check
							label.form-check-label
								input.form-check-input(type="checkbox") 
								| Я прочитал и согласен с Политикой конфиденциальности и Условиями пользования
					.form-group
						.form-check
							label.form-check-label
								input.form-check-input(type="checkbox") 
								| Вы подтверждаете, что не являетесь гражданином или резидентом стра ны, где ограничение использования криптовалюты илитокена ограничено
					.text-center
						.btn.btn-primary.btn-lg Создать учетную запись
					p Уже есть аккаунт? 
						a(href="#") Авторизоваться
				.form-footer
					p Возникли вопросы? Свяжитесь с нами AMC
					.d-flex
						.col-6.p-0
							p &copy; 2018 AMC
						.col-6.p-0
							p Все права защищены

app/registration.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICO</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/style-lk.css">
  </head>
  <body class="login" style="background-image:url(/assets/img/auth-bg.jpg);">
    <div class="wrapper flex-direction-column">
      <div class="logo text-center"><a href="/"><img class="img-fluid" src="assets/img/logo.png"></a></div>
      <div class="wrapper-form">
        <div class="lang"><a class="en" href="#">en</a><a class="ru" href="#">ru</a><a class="de" href="#">de</a><a class="es" href="#">es</a><a class="jp" href="#">jp</a>
        </div>
        <h3 class="text-center">Регистрация</h3>
        <form class="form-register">
                    <div class="form-group wrap-input">
                      <input class="form-control" type="text" placeholder="Имя">
                    </div>
                    <div class="form-group wrap-input">
                      <input class="form-control" type="text" placeholder="Фамилия">
                    </div>
                    <div class="form-group wrap-input">
                      <input class="form-control" type="email" placeholder="Электронная почта">
                    </div>
                    <div class="form-group wrap-input">
                      <input class="form-control" type="password" placeholder="Пароль">
                    </div>
                    <div class="form-group wrap-input">
                      <input class="form-control" type="password" placeholder="Повторите пароль">
                    </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox">Я прочитал и согласен с Политикой конфиденциальности и Условиями пользования
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox">Вы подтверждаете, что не являетесь гражданином или резидентом стра ны, где ограничение использования криптовалюты илитокена ограничено
              </label>
            </div>
          </div>
          <div class="text-center">
            <div class="btn btn-primary btn-lg">Создать учетную запись</div>
          </div>
          <p>Уже есть аккаунт? <a href="#">Авторизоваться</a></p>
        </form>
        <div class="form-footer">
          <p>Возникли вопросы? Свяжитесь с нами AMC</p>
          <div class="d-flex">
            <div class="col-6 p-0">
              <p>&copy; 2018 AMC</p>
            </div>
            <div class="col-6 p-0">
              <p>Все права защищены</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
